/node_modules
/public/hot
/public/storage
/storage/*.key
public/hot
.env.*.php
.env.php
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
npm-debug.log
laravel6/vendor
tdd/vendor
laravel6/storage
.DS_Store
laravel6/bootstrap/cache
laravel6/resources/views
public/css/main.css
